h1{
    color: red;
    font-size: 4em;
    text-align: center;
}

body{
    background-color: black;
}

#card1{
    width: 20%;
    height: 30%;
}
#card2{
    width: 20%;
    height: 30%;
}
#card3{
    width: 20%;
    height: 30%;
}
#card4{
    width: 20%;
    height: 30%;
}
#card5{
    width: 20%;
    height: 30%;
}

section{
    display: flex;
    align-items: center;
}